@charset "utf-8";

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Black.eot');
    src: url('../fonts/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Black.svg#SourceSansPro-Black') format('svg'),
         url('../fonts/SourceSansPro-Black.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Black.woff') format('woff'),
         url('../fonts/SourceSansPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Bold.eot');
    src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg'),
         url('../fonts/SourceSansPro-Bold.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Bold.woff') format('woff'),
         url('../fonts/SourceSansPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-ExtraLight.eot');
    src: url('../fonts/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-ExtraLight.svg#SourceSansPro-ExtraLight') format('svg'),
         url('../fonts/SourceSansPro-ExtraLight.ttf') format('truetype'),
         url('../fonts/SourceSansPro-ExtraLight.woff') format('woff'),
         url('../fonts/SourceSansPro-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Light.eot');
    src: url('../fonts/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg'),
         url('../fonts/SourceSansPro-Light.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Light.woff') format('woff'),
         url('../fonts/SourceSansPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Regular.eot');
    src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg'),
         url('../fonts/SourceSansPro-Regular.ttf') format('truetype'),
         url('../fonts/SourceSansPro-Regular.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-SemiBold.eot');
    src: url('../fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg'),
         url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype'),
         url('../fonts/SourceSansPro-SemiBold.woff') format('woff'),
         url('../fonts/SourceSansPro-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat-Bold.eot');
    src: url('../fonts/Caveat-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Caveat-Bold.svg#Caveat-Bold') format('svg'),
         url('../fonts/Caveat-Bold.ttf') format('truetype'),
         url('../fonts/Caveat-Bold.woff') format('woff'),
         url('../fonts/Caveat-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Caveat';
    src: url('../fonts/Caveat-Regular.eot');
    src: url('../fonts/Caveat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Caveat-Regular.svg#Caveat-Regular') format('svg'),
         url('../fonts/Caveat-Regular.ttf') format('truetype'),
         url('../fonts/Caveat-Regular.woff') format('woff'),
         url('../fonts/Caveat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #222222;
    font-family: 'SourceSansPro', sans-serif;
}
body .body-wrap {
    box-sizing: border-box;
    /*overflow-x: hidden;*/
}
a{
	text-decoration: none;
	color: inherit;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
button {
    font-family: 'SourceSansPro', sans-serif;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
button:hover {
    cursor: pointer;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border-color: #ff0000 !important;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.container {
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
input::-webkit-input-placeholder {
	color: #a1a1c2;
}
input:-moz-placeholder {
    color: #a1a1c2;
}
textarea::-webkit-input-placeholder {
    color: #a1a1c2;
}
textarea:-moz-placeholder {
    color: #a1a1c2;
}
input[type="number"] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.mobile-btn {
	display: none;
    position: relative;
	width: 40px;
	height: 40px;
	z-index: 1;
    cursor: pointer;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 100px;
	top: calc(50% - 1px);
	left: 7px;
	width: 26px;
	height: 2px;
	background-color: #ffffff;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 100px;
    left: 7px;
    top: calc(50% - 1px);
    width: 26px;
    height: 2px;
    background-color: #ffffff;
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 100px;
    left: 7px;
    top: calc(50% - 1px);
    width: 26px;
    height: 2px;
    background-color: #ffffff;
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -ms-transform: translateY(7px);
    transform: translateY(7px);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}
.close-btn {
	display: none;
	position: absolute;
	width: 40px;
	height: 40px;
	z-index: 10;
    cursor: pointer;
    top: 5px;
    left: 30px;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 100px;
    left: 7px;
    top: calc(50% - 1px);
    width: 26px;
    height: 2px;
    background-color: #3e2d8f;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 100px;
    left: 7px;
    top: calc(50% - 1px);
    width: 26px;
    height: 2px;
    background-color: #3e2d8f;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0;
    bottom: 0;
	left: -200%;
	box-sizing: border-box;
	width: 100%;
	padding: 50px 30px;
	background-color: #ffffff;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-menu.active {
	left: 0;
}

.policy-text {
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    line-height: 1.2;
    position: relative;
    text-align: left;
    padding-left: 25px;
    margin-top: 15px;
}
.b-form-wrap .policy-text {
    color: #222222;
}
.policy-text a {
    color: #6a3df7;
    border-bottom: 1px solid transparent;
}
.policy-text a:hover {
    border-color: #6a3df7;
}
.policy-text .radio-btn {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #f0f0f9;
    background-color: #f0f0f9;
    border-radius: 5px;
    left: 0;
    top: calc(50% - 10px);
}
.policy-text .radio-btn.error {
    border-color: #ff0000;
}
.policy-text .radio-btn:hover {
    cursor: pointer;
}
.policy-text .radio-btn.active::before {
    content: '';
    display: block;
    width: 8px;
    height: 2px;
    position: absolute;
    left: 1px;
    top: 10px;
    background-color: #6a3df7;
    border-radius: 2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.policy-text .radio-btn.active::after {
    content: '';
    display: block;
    width: 13px;
    height: 2px;
    position: absolute;
    left: 5px;
    top: 8px;
    background-color: #6a3df7;
    border-radius: 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	
}
@media screen and (max-width: 1024px){
    body.no-scroll {
        height: 100vh !important;
        overflow: hidden !important;
    }

    .mobile-btn, .mobile-menu, .close-btn {
        display: block;
    }
}
@media screen and (max-width: 768px){
    .container {
        padding: 0 10px;
    }
    .mobile-menu {
        padding: 50px 10px;
    }
    .close-btn {
        left: 10px;
    }
}